<style>
    @import './Blurb.css';
</style>

<div class="blurb">
    <slot name="blurb-icon" />
    <slot name="blurb-title"><h3 class="blurb-title">Blurb Title</h3></slot>
    <slot name="blurb-text">
        <p class="blurb-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Velit scelerisque in dictum non consectetur a. Nec ullamcorper sit amet risus nullam eget felis.</p>
    </slot>
</div>