---
// Component Imports
import Navbar from '../components/Navbar/Navbar.astro';
import { Icon } from 'astro-icon';


// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'codeFellowship( ) Podcast';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width" />

	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link href="/dist/output.css" rel="stylesheet" />
	<link href="./src/styles/input.css">
	<link href="./src/styles/index.css" rel="stylesheet" />
</head>
<body>
	<Navbar />
	<div class="hero-section">
		<div set:html={`<Icon name="ic:round-play-circle"/>`} class="latest-episode">
			<Icon name="ic:round-play-circle" size={120} class="ply-icon"/>
		</div>

		<div class="podcast-info">
			<h1 class="hero-title">Weekly Episodes</h1>
			<h4 class="hero-subtitle">Every Wednesday</h4>
			<div set:html={`<Icon name="mdi:youtube"/>`} class="podcast-platforms">
				<Icon name="mdi:youtube" size={30} class="yt-icon" />
				<Icon name="mdi:spotify" size={30} class="sptfy-icon"/>
				<Icon name="mdi:podcast" size={30} class="pd-icon"/>
			</div>
		</div>
	</div>

	<div class="core-values-section">
		
	</div>
</body>
</html>
