---
// Component Imports
import Navbar from '../components/Navbar/Navbar.astro';
import { Icon } from 'astro-icon';


// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'codeFellowship( ) Podcast';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width" />

	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link href="/dist/output.css" rel="stylesheet" />
	<link href="./src/styles/input.css">
</head>
<body>
	<Navbar />
	<div class="hero-section">
		<div class="latest-episode">
		
		</div>
		<div>
			<h1>Weekly Episodes</h1>
			<h4>Every Wednesday</h4>
			<div set:html={`<Icon name="mdi:youtube"/>`}>
				<Icon name="mdi:youtube" size={40} />
				<Icon name="mdi:podcast" size={40} />
				<Icon name="mdi:spotify" size={40} />
			</div>
		</div>
	</div>
</body>
</html>
