<style>
    @import './Navbar.css';
</style>

<div class="navbar-container">
    <div class="logo">
        <h1>codeFellowship( )</h1>
    </div>
    <div class="navbar-menu">
        <a href="#" class="menu-link">Home</a>
        <a href="#" class="menu-link">Episodes</a>
        <a href="#" class="menu-link">Resources</a>
        <a href="#" class="menu-link">About</a>
        <a href="#" class="menu-link">Contact</a>
        <button class="sub-button">Subscribe</button>
    </div>
</div>