.navbar-container {
  background-color: #FBFBF8;
  display: flex;
  padding: 20px 50px 20px 50px;
  align-items: center;
  
  box-shadow:
  0px 0.4px 3px rgba(0, 0, 0, 0.028),
  0.1px 1.1px 8.4px rgba(0, 0, 0, 0.04),
  0.3px 2.7px 20.2px rgba(0, 0, 0, 0.052),
  1px 9px 67px rgba(0, 0, 0, 0.08);
}

.logo {
  font-weight: 800;
  font-size: 30px;
  width: 20%;
  color: #06273A;
}

.navbar-menu {
  width: 70%;
  margin-left: 30%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  font-size: 18px;
}

.sub-button {
  background-color: #00EDA0;
  padding: 10px 50px 10px 50px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 30px;
  color: #06273A;
}

.sub-button:hover {
  background-color: #06273A;
  color: #fff;
}

.menu-link {
  align-self: center;
  text-transform: uppercase;
}

.menu-link:hover {
  color: #00EDA0;
}

/*---Curly Brace/Bracket Hover Effect for Menu  Items---*/
a:before {
  content: "{";
  color: #1c1c1c;
  margin-right: 10px;
  display: inline-block;
  opacity: 0;
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

a:after {
  content: "}";
  color: #1c1c1c;
  margin-left: 10px;
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}

a:hover:before,
a:hover:after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}
