<div class="container flex">
    <div class="flex-auto w-24">
        <h1>codeFellowship( )</h1>
    </div>
    <nav class="flex-auto w-auto">
        <ul>
            <li>Home</li>
            <li>Episodes</li>
            <li>Resources</li>
            <li>About</li>
            <li>Contact</li>
        </ul>
    </nav>
</div>