.app{
  background-color: #07273B;
  height: 100vh;
}

.text-logo {
  color: white;
  text-align: center;
}

.text-body {
  color: white;
  size: 30px;
  text-align: center;
}

.icons {
  color: white;
  text-align: center;
}