.app{
  background-color: #07273B;
  height: 100vh;
  
}

.youtube-icon {
  margin-left: 95%;
  margin-top: 1%;
}

.text-logo {
  color: white;
  text-align: center;
}

.text-body {
  color: white;
  size: 30px;
  text-align: center;
}

.icons {
  color: white;
  text-align: center;
}

.copyright {
  color: white;
  text-align: center;
}